<ul id="active" class="nav navbar-nav side-nav">
  <li><%= link_to '<i class="fa fa-envelope-o fa-lg"></i> SMS'.html_safe, sms_deliveries_path %></li>
  <li><%= link_to '<i class="fa fa-file-text-o fa-lg"></i> Получатели'.html_safe, contact_lists_path %></li>
  <li><%= link_to '<i class="fa fa-user-plus fa-lg"></i> Учетные записи'.html_safe, sms_service_accounts_path %></li>
</ul>