<div class="form-group col-sm-12">

  <div class="col-sm-8">
    <div class="col-sm-2">
      <%= link_to 'Рассылка', sms_deliveries_path, class: 'btn btn-default' %>
    </div>

    <div class="col-sm-2">
      <%= link_to 'Листы получателей', contact_lists_path, class: 'btn btn-default' %>
    </div>
  </div>

</div>