<table class="table">
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Номер телефона</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.contact.phone %></td>
  </tr>
  <% unless @user.contact.additional_phone.empty? %>
      <tr>
        <td class="col-md-4 col-sm-4 col-xs-12">Доп. номер телефона</td>
        <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.contact.additional_phone %></td>
      </tr>
  <% end %>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Skype</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.contact.skype %></td>
  </tr>
  <tr>
    <td class="col-md-4 col-sm-4 col-xs-12">Email</td>
    <td class="col-md-4 col-sm-4 col-xs-12"><%= @user.email %></td>
  </tr>
</table>