<ul id="active" class="nav navbar-nav side-nav">
  <li><%= link_to '<i class="fa fa-graduation-cap fa-lg"></i> Студенты'.html_safe, students_path %></li>
  <li><%= link_to '<i class="fa fa-users fa-lg"></i> Пользователи'.html_safe, users_path %></li>
</ul>