<%= render 'users/sidebar_users' %>
<div class="my-profile-info">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Общая информация</h4><hr/>
        <table class="table">
          <%= render 'general_info' %>
          <tr>
            <td class="col-sm-6">Cтатус</td>
            <td class="col-sm-6"><%= @user.roles.map { |role| role.name }.join(', ') %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Контактные данные</h4><hr/>
        <table class="table">
          <%= render 'contact_info' %>
        </table>
      </div>
    </div>
  </div>
</div>