<div class="jumbotron text-center">
  <h1><%= image_tag('logo.png') %></h1>
  <p>Электронная образовательная система</p>
  <p><%= link_to 'Войти', new_user_session_path, class: 'btn btn-default btn-lg' %></p>
</div>
