body {
  margin-top: 65px;
  background-color: #fff;
}

.error-message {
  color: darkred;
}

.margin-bottom {
  margin-bottom: 20px;
}

.logo{
  width: 120px;
}

a {
  color: rgb(0, 137, 155);
}


.fc-unthemed .fc-today {
  background: #99c3cc !important;
}

