.jumbotron {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  background-image: url(home_background.jpg);
  background-repeat: no-repeat;
}

.jumbotron p {
  color: white;
}

.jumbotron .btn {
  margin-top: 40px;
}


