<% if @resource.sign_in_count > 0 %>
  <!--Восстановление пароля-->
  <p>Здравствуйте, <%= @resource.full_name %>!</p>
  <p>Вы отправили запрос на восстановление пароля.</p>
  <p>Для того чтобы задать новый пароль, перейдите по ссылке: </p>
  <p><%= link_to 'Восстановить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
  <p>Пожалуйста, проигнорируйте данное письмо, если оно пришло к Вам по ошибке.</p><br/>
  <p>C уважением,</p>
  <p>Команда IT Attractor</p>
<% else %>
  <!--Настройка пароля для нового пользователя-->
  <p>Здравствуйте, <%= @resource.full_name %>!</p>
  <p>Вы получили это сообщение, потому что Ваш e-mail адрес был зарегистрирован на сайте it-attractor-esdp.com</p>
  <p>Для завершения регистрации перейдите по ссылке и настройте пароль для входа в систему:</p>
  <p><%= link_to 'Установить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
  <p>Пожалуйста, проигнорируйте данное письмо, если оно пришло к Вам по ошибке.</p><br/>
  <p>C уважением,</p>
  <p>Команда IT Attractor</p>
<% end %>